<% provide(:title, 'Search Flights') %>
<section id="banner">
<h2>Бронирование авиабилетов</h2>

<%= render 'search' %>

<% if !@flights.none? %>
  <%= render 'search_results' %>
<% end %>
	</br>
				</section>
		
