<header id="header" class="alt">
					<h1><a class="button" href="/">АвиаКомпания</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Главная</a></li>
							<li><a href="#" class="button">Контакты</a></li>
						</ul>
					</nav>
</header>

